.footer__column_content_copyright {
  -ms-flex-preferred-size: 49.375vw;
      flex-basis: 49.375vw;
}

@media (max-width: 650px) {
  .footer__column_content_copyright {
    position: absolute;
    top: -50px;
    left: 0;

    height: 250px;
  }
}
