.video__iframes {
  position: relative;
  top: 50px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  max-width: 1050px;
  margin: 0 auto;
}

@media (max-width:560px) {
  .video__iframes {
    top: 8vw;
  }
}
