.feynman__link {
  position: absolute;
  top: 49%;
  right: 48px;
  z-index: 1;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
}

.feynman__link:link {
  color: #2f80ed;
}

.feynman__link:active {
  color: #3d31ed;
}
