.feynman__link {
  position: absolute;
  top: 49%;
  right: 48px;
  z-index: 1;

  font-size: 36px;
  line-height: 1.416;
  text-decoration: none;
}

.feynman__link:link {
  color: #2f80ed;
}

.feynman__link:active {
  color: #3d31ed;
}

@media (max-width:1100px) {
  .feynman__link {
    font-size: 30px;
  }
}
