.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;

  max-width: 388px;
  margin: 0;

  line-height: 1.39;
}

@media (max-width: 1100px) {
  .header__subtitle {
    left: 5.8vw;
    font-size: calc(14px + 0.36vw);
  }
}
