.header__title {
  z-index: 1;

  -ms-flex-item-align: center;
      align-self: center;
  max-width: 730px;

  margin: 0;
  padding-left: 64px;

  font-weight: bold;
  font-size: 102px;
  line-height: 0.94;
}

@media (max-width: 1100px) {
  .header__title {
    padding-left: 5.8vw;

    font-size: calc(14px + 8vw);
  }
}
