.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

@media (max-width: 1100px) {
  .header__main-illustration {
    width: 69.5vw;
    height: 55vw;
  }
}
