.khan__book-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 608px;
  overflow: hidden;
}

@media (max-width:1100px) {
  .khan__book-container {
    height: 55.27vw;
  }
}
