.khan__buy-link {
  align-self: flex-start;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
}

.khan__buy-link:link {
  color: #2f80ed;
}

.khan__buy-link:active {
  color: #3d31ed;
}
