.khan__buy-link {
  align-self: flex-start;

  font-size: 30px;
  line-height: 1.4;
  text-decoration: none;
}

.khan__buy-link:link {
  color: #2f80ed;
}

.khan__buy-link:active {
  color: #3d31ed;
}

@media (max-width:1100px) {
  .khan__buy-link {
    font-size: calc(20px + 0.909vw);
  }
}
